.onlinerPost{
    background-position: center;
    background-size: cover;
    position: relative;
    width: 20rem;
    height: 10rem;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.onlinerPost:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.onlinerPost:hover:after{
    background: rgba(0, 0, 0, .7);
    transition: 0.5s;
}
.postHeader{
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.category{
    background-color: yellow;
    padding: 3px;
    width: fit-content;
    z-index: 3;
}
.callout{
    border: 2px yellow solid;
    padding: 2px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    display: flex;
    z-index: 3;
}

.onlinerTitle{
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 20px;
    font-weight: 500;
    z-index: 3;
}