.onlinerPost{
    background-position: center;
    background-size: cover;
    position: relative;
    width: 20rem;
    height: 10rem;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.onlinerPost:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.onlinerPost:hover:after{
    background: rgba(0, 0, 0, .7);
    transition: 0.5s;
}



